@charset "gb2312";
/*banner*/
.banner {
    width: 68%;
    overflow: hidden;
    float: left;
    margin-bottom: 20px
}

.fader {
    position: relative;
    width: 100%;
    padding-top: 60%;
    font-family: "futura", arial;
    overflow: hidden;
}

.fader .slide {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 1;
    opacity: 0;
    height: 100%;
}

.fader .slide img {
    width: 100%;
    height: 100%;
}

.fader .prev, .fader .next {
    position: absolute;
    height: 80px;
    line-height: 55px;
    width: 50px;
    font-size: 100px;
    text-align: center;
    color: #fff;
    top: 50%;
    left: 50px;
    z-index: 4;
    margin-top: -25px;
    cursor: pointer;
    opacity: 0;
    transition: all 150ms;
}

.fader .next {
    left: auto;
    right: 50px;
}

.fader .pager_list {
    position: absolute;
    width: 100%;
    height: 40px;
    padding: 0;
    line-height: 40px;
    bottom: 0;
    text-align: center;
    z-index: 4;
}

.fader .pager_list li {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 7px;
    background: #fff;
    opacity: .3;
    text-indent: -9999px;
    border-radius: 999px;
    cursor: pointer;
    transition: all 150ms;
}

.fader .pager_list li:hover, .fader .pager_list li.active {
    opacity: 1;
}

.banner:hover .fader_controls .page.prev {
    opacity: 0.5;
    left: 0
}

.banner:hover .fader_controls .page.next {
    opacity: 0.5;
    right: 0
}

.imginfo {
    z-index: 9;
    position: absolute;
    font-size: 26px;
    color: #FFF;
    display: block;
    overflow: hidden;
    bottom: 12%;
    left: 0;
    right: 0;
    display: block;
    background: rgba(0, 0, 0, .4);
    padding: 0 40px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/*toppic*/
.toppic {
    width: 30%;
    float: right;
    overflow: hidden;
    position: relative;
}

.toppic li {
    width: 100%;
    background: #000;
    position: relative;
    overflow: hidden;
}

.toppic li i {
    display: block;
    opacity: 0.9;
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    overflow: hidden
}

.toppic li i img {
    width: 100%;
    height: 196px;
}

.toppic li h2 {
    color: #fff;
    display: block;
    font-weight: normal;
    font-size: 16px;
    position: absolute;
    bottom: 0;
    padding: 5px 20px;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .7);
}

.toppic li span {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 6px 10px;
    background: rgba(54, 144, 207, .8);
    font-size: 12px;
    display: block;
    color: #FFF;
    border-radius: 3px;
}

.toppic li:hover i {
    opacity: 1;
}

.toppic li:last-child {
    margin-top: 16px
}

.r_box {
    width: 30%;
    float: right
}

.r_box h2 {
    color: #333;
    font-size: 14px;
    line-height: 30px;
    padding-left: 20px;
    background: #f8f8f8;
    border-bottom: 1px solid #ddd;
}

.r_box div {
    background: #fff;
    margin-bottom: 20px;
    overflow: hidden;
    border: 1px solid #ddd;
}

.r_box div ul {
    padding: 10px;
    overflow: hidden
}

.about_me img {
    width: 100%;
    border-radius: 10%
}

.about_me p {
    line-height: 24px;
    font-size: 14px
}

.about_me i {
    width: 120px;
    float: left;
    clear: left;
    margin-right: 10px;
    height: 90px;
    overflow: hidden
}

.wdxc li {
    width: 32%;
    overflow: hidden;
    float: left;
    height: 80px;
    margin-bottom: 2px;
    margin-right: 2px
}

.wdxc li img {
    height: 100%;
    width: 100%;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

.wdxc li img:hover {
    transform: scale(1.05)
}

.fenlei li {
    margin-bottom: 10px;
    margin-left: 10px
}

.tuijian li {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 5px;
    background: url(/static/images/li.png) left center no-repeat;
    padding-left: 20px
}
.weather li {
    height: 100px;
    margin: 20px 0;
    padding: 20px 0 0 75px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    background: url(/static/images/weather_bg.jpg) center no-repeat;

}
.guanzhu img {
    width: 100%
}

/*news_box*/
.news_box {
    width: 100%
}

.news_box li {
    width: 44.5%;
    float: left;
    background: #fff;
    padding: 15px;
    overflow: hidden;
    color: #797b7c;
    margin-bottom: 10px;
    border: 1px solid #ddd;
}

.news_box li:nth-child(2n) {
    float: right
}

.news_box li h3 {
    font-size: 15px;
    font-weight: normal;
    line-height: 25px;
    text-shadow: #FFF 1px 1px 1px;
    height: 80px;
    display: table-cell;
    vertical-align: middle;
}

.news_box li h3 a {
    color: #222
}

.news_box li img {
    width: 100%;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

.news_box li i {
    width: 120px;
    display: block;
    height: 80px;
    overflow: hidden;
    float: left;
    margin-right: 20px
}

.news_box li:hover img {
    transform: scale(1.05)
}

.news_box li:hover h3 a {
    color: #3690cf;
}

/*pics*/
.pics {
    margin: 20px 0 0 0;
    overflow: hidden;
    width: 100%;
    clear: both
}

.pics ul li {
    width: 32.3%;
    float: left;
    display: block;
    overflow: hidden;
    position: relative;
}

.pics ul li i {
    display: block;
    height: 150px;
}

.pics ul li:nth-child(2) {
    margin: 0 0 0 10px
}

.pics ul li:nth-child(3) {
    float: right
}

.pics ul li img {
    margin: auto;
    min-height: 100%;
    width: 100%;
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.pics ul li span {
    position: absolute;
    color: #FFF;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    padding: 10px 20px;
    opacity: 0;
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.pics ul li:hover img {
    transform: scale(1.05)
}

.pics ul li:hover span {
    opacity: 1;
    background: rgba(0, 0, 0, .5);
}

.blogtab {
    width: 100%;
    overflow: hidden
}

#blogtab {
    overflow: hidden;
    zoom: 1;
    background: #fff;
    width: 100%;
    margin: 10px 0
}

#blogtab li {
    float: left;
    height: 40px;
    cursor: pointer;
    line-height: 40px;
    list-style-type: none;
    padding: 0 20px;
}

#blogtab li a {
    color: #555
}

#blogtab li.current, #blogtab li a:hover {
    color: #3690cf;
}

#tab {
    overflow: hidden;
    zoom: 1;
}

#tab a {
    float: left;
    color: #222;
    padding: 0 15px;
    border-right: #ddd 1px solid
}

#tab a:last-child {
    border-right: none
}

#tab a.current {
    color: #3690cf;
}

#content {
    margin-bottom: 0;
    border: none
}

#content ul {
    display: none;
}

/*blogsbox*/
.blogsbox {
    width: 100%;
    overflow: hidden;
    float: left
}

.blogs {
    overflow: hidden;
    margin-bottom: 20px;
    padding: 20px;
    background: #FFF;
    -webkit-box-shadow: 0 2px 5px 0 rgba(146, 146, 146, .1);
    -moz-box-shadow: 0 2px 5px 0 rgba(146, 146, 146, .1);
    box-shadow: 0 2px 5px 0 rgba(146, 146, 146, .1);
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
    position: relative
}

.blogs:before {
    position: absolute;
    content: "";
    width: 5px;
    height: 26px;
    background: #3690cf;
    left: 0;
    top: 20px
}

.blogs .blogpic {
    float: left;
    width: 30%;
    max-height: 170px;
    margin-right: 20px;
    display: block;
    overflow: hidden;
}

.blogs .blogpic img {
    width: 100%;
    height: auto;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
    margin-bottom: 10px
}

.blogs .blogpic :hover img {
    transform: scale(1.1)
}

.blogs .blogtitle {
    margin: 0 0 10px 0;
    font-size: 20px;
    overflow: hidden;
}

.blogs:hover .blogtitle a {
    color: #3690cf;
}

.blogs .blogtext {
    font-size: 14px;
    color: #566573;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    margin-top: 20px
}

.blogs .bloginfo {
    overflow: hidden;
    margin-top: 30px;
    display: block
}

.blogs .bloginfo li {
    float: left;
    font-size: 12px;
    padding: 0 0 0 20px;
    margin: 0 15px 0 0;
    color: #748594;
    line-height: 1.5;
    display: inline-block;
}

.blogs .bloginfo li a {
    color: #748594;
}

.blogs .bloginfo li a:hover {
    color: #000
}

.blogs .bloginfo .author {
    background: url(/static/images/author.jpg) no-repeat 0 0
}

/*
.blogs .bloginfo .lmname {
    background: url(/static/images/author.jpg) no-repeat top -23px left;
}
*/

.blogs .bloginfo .timer {
    background: url(/static/images/author.jpg) no-repeat top -44px left;
}

.blogs .bloginfo .view {
    background: url(/static/images/author.jpg) no-repeat top -64px left;
}


/*bplist*/
.bplist {
    width: 100%;
    overflow: hidden;
    display: block;
    margin-bottom: 20px
}

.bplist li {
    float: left;
    width: 32.8%;
    height: 174px;
    overflow: hidden;
}

.bplist li:nth-child(2) {
    margin-left: 6px
}

.bplist li:last-child {
    float: right
}

.bplist li img {
    width: auto;
    min-width: 100%;
    height: 174px;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

.bplist li:hover img {
    transform: scale(1.1)
}

/*bigpic*/
.bigpic {
    overflow: hidden;
    width: 100%;
    display: block;
    margin-bottom: 20px;
    background: #000
}

.bigpic img {
    width: 100%;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

.bigpic:hover img {
    opacity: 0.8
}

.pagelist {
    text-align: right;
    color: #666;
    width: 100%;
    clear: both;
    margin: 0 0 10px;
}

.pagelist a {
    color: #666;
    margin: 0 2px 10px;
    border: 1px solid #fff;
    padding: 5px 10px;
    background: #FFF;
    display: inline-block;
}

.pagelist a:hover {
    color: #3690cf;
}

.pagelist > b {
    border: 1px solid #247dbb;
    padding: 5px 10px;
    background: #3690cf;
    color: #FFF;
}

a.curPage {
    color: #19585d;
    font-weight: bold;
}

/*about*/
.about {
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
}

.about img {
    max-width: 500px;
    margin: 20px 0;
    width: 100%;
}

.cloud ul a {
    line-height: 24px;
    height: 24px;
    display: block;
    float: left;
    padding: 3px 8px;
    margin: 10px 5px 0;
    color: #333;
    border: 1px solid #ddd;
}

.cloud ul a:hover {
    background: #3690cf;
    color: #fff
}

.picbox {
    width: 100%;
    overflow: hidden;
}

.picbox ul {
    overflow: hidden;
    width: 24%;
    float: left;
    margin-right: 10px
}

.picbox ul li {
    display: block;
    background: #FFF;
    margin: 0 0 20px 0;
    border: 1px #d9d9d9 solid;
}

.picbox ul li i {
    margin: 10px;
    height: auto;
    overflow: hidden;
    display: block;
}

.picbox ul li img {
    width: 100%;
}

.picinfo h3 {
    border-bottom: #ccc 1px solid;
    padding: 10px 0;
    margin: 0 20px;
    font-size: 16px
}

.picinfo span {
    padding: 10px 20px;
    display: block;
    color: #666;
}

.picbox ul li a:hover {
    color: #19585d
}

.place {
    margin: 0 0 10px 0;
    width: 100%;
    overflow: hidden;
    background: #fff;
    border-bottom: 1px solid #ddd;
}

.place a {
    display: block;
    float: left;
    padding: 5px 10px;
    background: #fff;
    margin: 0 20px;
}

#pagecurrent {
    color: #222;
    border-bottom: 2px solid #3690cf;
    display: inline-block;
}

/*gbook*/
.gbook {
    background: #FFF;
    overflow: hidden;
    margin-bottom: 20px
}

.gbox {
    padding: 20px;
    overflow: hidden;
}

.gbox p {
    margin-bottom: 10px
}

p.fbtime {
    color: #000;
}

.fbtime span {
    float: right;
    color: #999;
    font-size: 12px;
    width: 66px;
    overflow: hidden;
    white-space: nowrap;
}

p.fbinfo {
    margin: 10px 0;
}

.fb ul {
    margin: 10px 10px;
    padding: 10px 10px 10px 70px;
    border-bottom: #ececec 1px solid;
}

.fb:nth-child(8n-7) ul {
    background: url(../images/tx10.jpg) no-repeat top 20px left 10px;
}

.fb:nth-child(8n-6) ul {
    background: url(../images/tx9.jpg) no-repeat top 20px left 10px;
}

.fb:nth-child(8n-5) ul {
    background: url(../images/tx8.jpg) no-repeat top 20px left 10px;
}

.fb:nth-child(8n-4) ul {
    background: url(../images/tx7.jpg) no-repeat top 20px left 10px;
}

.fb:nth-child(8n-3) ul {
    background: url(../images/tx6.jpg) no-repeat top 20px left 10px;
}

.fb:nth-child(8n-2) ul {
    background: url(../images/tx5.jpg) no-repeat top 20px left 10px;
}

.fb:nth-child(8n-1) ul {
    background: url(../images/tx4.jpg) no-repeat top 20px left 10px;
}

.fb:nth-child(8n) ul {
    background: url(../images/tx3.jpg) no-repeat top 20px left 10px;
}

.fb:first-child ul {
    background: url(../images/tx2.jpg) no-repeat top 20px left 10px;
}

.fb:last-child ul {
    background: url(../images/tx1.jpg) no-repeat top 20px left 10px;
}

.hf ul {
    padding: 10px 20px;
    background: #f9f9f9;
}

.hf {
    margin: 0 20px;
    padding-bottom: 20px;
    border-bottom: #dedddd 1px dashed;
}

.gbook textarea#lytext {
    width: 100%;
}

.gbox input[type="submit"] {
    display: block;
    background: #040404;
    color: #fff;
    border: 0;
    line-height: 30px;
    padding: 0 20px;
    border-radius: 5px;
    float: right;
}

.ecomment {
    border: #dedcdc 1px solid;
    padding: 10px;
    margin-bottom: 10px;
}

span.ecommentauthor {
    color: #b5b5b5;
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
}

.saying {
    line-height: 30px;
    color: #a9a6a6;
}

.saying span {
    float: right
}

.saying span a {
    color: #de1513;
}

img#plKeyImg {
    display: inline-block;
}

.yname {
    margin: 10px 10px 10px 0
}

.yname span, .yzm span {
    padding-right: 10px;
}

.yzm {
    margin: 0 10px 10px 0
}

#plpost input[type="submit"] {
    display: block;
    background: #303030;
    color: #fff;
    border: 0;
    line-height: 30px;
    padding: 0 20px;
    border-radius: 5px;
    float: right;
}

textarea#saytext {
    width: 100%;
}

#plpost {
    margin: 0 20px
}

