@charset "gb2312";
.topbox {
    width: 100%
}

.topbox ul {
    overflow: hidden;
    padding: 10px;
    background: #FFF;
}

.topbox ul li {
    width: 20%;
    float: left;
    overflow: hidden;
    position: relative
}

.tpic {
    height: 240px;
    overflow: hidden;
    display: block
}

.topbox ul li img {
    width: 100%;
    min-height: 100%
}

.topbox ul li:nth-child(1) {
    width: 40%
}

.topbox ul li i {
    display: block;
    margin-right: 5px;
    overflow: hidden;
}

.topbox ul li:last-child i {
    margin-right: 0;
}

.topbox .toptext {
    display: block;
    font-style: normal;
    margin-top: 10px
}

.topbox .tnum {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background: #CCC;
    width: 30px;
    height: 26px;
    line-height: 26px;
    font-style: italic;
    text-align: center;
    color: #FFF
}

.topbox ul li:nth-child(1) .tnum {
    background: #3690cf;
}

.topbox ul li:nth-child(2) .tnum {
    background: #5aaae2;
}

.topbox ul li:nth-child(3) .tnum {
    background: #569aca;
}

.topbox ul li:nth-child(4) .tnum {
    background: #6894b3
}

.fenlei {
    margin: 30px 0 0 0;
    width: 100%;
    overflow: hidden;
    border-bottom: #e4e3e3 1px solid;
    background: #FFF
}

.fenlei li {
    display: block;
    font-size: 16px;
    line-height: 40px;
    float: left;
    width: 100px;
    text-align: center;
    margin: 0 20px
}

.flselect a {
    color: #222;
    display: block;
    position: relative
}

.flselect a:after {
    content: "";
    background: #3690cf;
    position: absolute;
    bottom: 0;
    width: 100px;
    height: 3px;
    display: block;
}

.mbans {
    width: 100%;
    background: #FFF;
    overflow: hidden
}

.mban {
    display: none;
    padding: 10px;
}

.mban ul {
    overflow: hidden
}

.mban:nth-child(1) {
    display: block;
}

.mban ul li {
    width: 20%;
    overflow: hidden;
    float: left;
    position: relative;
    margin-bottom: 20px;
}

.mban ul li i {
    margin-right: 5px;
    display: block;
    font-style: normal;
}

.mban ul li:last-child i {
    margin-right: 0;
}

.mban ul li img {
    width: 100%;
    min-height: 240px;
    -ms-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.mban ul li .mbtitle {
    display: block;
    margin-top: 10px;
}

.mban .tnum {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background: #3690cf;
    width: 50px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    color: #FFF;
    -ms-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    z-index: 999
}

.mban ul li:hover img {
    transform: scale(1.03)
}