<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>关于我</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/base.css" rel="stylesheet">
    <link href="/static/css/about.css" rel="stylesheet">
    <link href="/static/css/m.css" rel="stylesheet">
    <script src="/static/js/jquery-2.1.4.min.js"></script>
    <script src="/static/js/ab.js"></script>
<body>
<header class="header-navigation" id="header">
    <nav>
        <div class="logo"><a href="/">meeki个人博客</a></div>
        <h2 id="mnavh"><span class="navicon"></span></h2>
        <ul id="starlist">
            <li><a href="/index.html">首页</a></li>
            <li class="selected"><a href="/about.html/">关于我</a></li>
            <li><a href="/photo.html/">图片集锦</a></li>
            <li><a href="/life.html/">慢生活</a></li>
            <li><a href="/study.html/">学无止境</a></li>
            <li><a href="/time.html/">时间轴</a></li>
            <li><a href="/e/tool/gbook/?bid=1">留言</a></li>
        </ul>
        <div class="searchbox">
            <div id="search_bar" class="search_bar">
                <form id="searchform" action="/e/search/index.php" method="post" name="searchform">
                    <input class="input" placeholder="想搜点什么呢.." type="text" name="keyboard" id="keyboard">
                    <input type="hidden" name="show" value="title"/>
                    <input type="hidden" name="tempid" value="1"/>
                    <input type="hidden" name="tbname" value="news">
                    <input type="hidden" name="Submit" value="搜索"/>
                    <p class="search_ico"><span></span></p>
                </form>
            </div>
        </div>
    </nav>
</header>
<article>
    <div class="photowall">
        <ul class="wall_a">
            <li><a href="" target="_blank"><img
                    src="http://www.yangqq.com/d/file/news/life/2018-04-27/762f99f369ae786f970477feeb3b9d77.jpg">
                <figcaption>
                    <h2>个人博客，属于我的小世界！</h2>
                </figcaption>
            </a></li>
            <li>
                <p class="text_b"><a href="" target="_blank">我是怎么评价自己的？</a></p>
            </li>
            <li><a href="" target="_blank"><img
                    src="http://www.yangqq.com/d/file/news/life/2018-06-29/75842f4d1e18d692a66c38eb172a40ab.jpg">
                <figcaption>
                    <h2>作为一个设计师,如果遭到质疑你是否能恪守自己的原则?</h2>
                </figcaption>
            </a></li>
            <li>
                <p class="text_b"><a href="" target="_blank">安静地做一个爱设计的女子</a></p>
            </li>
            <li>
                <p class="text_b"><a href="" target="_blank">云南之行——初到昆明滇池半日游</a></p>
            </li>
            <li><a href="" target="_blank"><img
                    src="http://www.yangqq.com/d/file/news/s/2013-11-25/6abfdd1f080561acedbd2606210951eb.png">
                <figcaption>
                    <h2>某一人似曾相识、某一刻似曾经历</h2>
                </figcaption>
            </a></li>
            <li>
                <p class="text_b"><a href="" target="_blank">再看4年前某婚恋网站我的十条征婚条件</a></p>
            </li>
            <li><a href="" target="_blank"><img
                    src="http://www.yangqq.com/d/file/news/s/2013-11-22/5fafd3ebc31c323311092c440bcf41bf.jpg">
                <figcaption>
                    <h2>抄袭门过后——丢掉心结，重拾自己</h2>
                </figcaption>
            </a></li>
        </ul>
    </div>
    <div class="abox">
        <h2>博主简介</h2>
        <div class="biji-content" id="content">
            <p th:text="${userEntitySession.personalprofile}"></p>
        </div>
        <div class="navlist">
            <ul>
                <li class="navcurrent"><a href="#top1">基本信息</a></li>
                <li><a href="#top1">工作技能</a></li>
                <li><a href="#top1">购买空间</a></li>
                <li><a href="#top1">我的博客</a></li>
            </ul>
        </div>
        <div class="navtab">
            <div class="navitem" name="top1">
                <div class="content">
                    <p>网名:<span th:text="${userEntitySession.name}"></span></p>
                    <p>职业：<span th:text="${userEntitySession.job}"></span></p>
                    <p>邮箱：<span th:text="${userEntitySession.email}"></span></p>
                    <p>个人微信：<span><img th:src="${userEntitySession.wechar}"/></span></p>
                </div>
            </div>
            <div class="navitem" name="top1">
                <div class="content">
                    <p class="ab_t">工作技能：</p>

                    <p>1、JAVA后端的开发</p>

                    <p>2、根据产品需求，开发后端服务</p>

                    <p>3、能够进行Pc端Html页面制作</p>

                    <p>4、熟练使用html5，CSS3，javascript，jquery等架构和布局</p>

                    <p>5、熟练使用springboot框架</p>
                </div>
            </div>

            <div class="navitem" name="top1">
                <div class="content">
                    <p class="ab_t">购买空间：</p>
                    <p>
                        <a href="https://s.click.taobao.com/t?e=m%3D2%26s%3Dtx5qvgOp2sEcQipKwQzePCperVdZeJviEViQ0P1Vf2kguMN8XjClAv6rqJwbkViRJZyTmHFgi7toyO3ddgEZ98KZ%2FCBiGC%2BAA120cfxpzVcJ9DgiofYXHhmIkXBqRClNTcEU%2BDykfuSM%2BhtH71aX6uIOTs4KMj3yjpOyWSRdiSZDEm2YKA6YIrbIzrZDfgWtwGXLU4WXsy%2FSGTLzgkOZ%2F6tHZYFMpqEnXF%2B87KN7TKeiZ%2BQMlGz6FQ%3D%3D"
                           target="_blank">【<span style="color:#FF0000;">推荐</span>】阿里云ECS</a></p>
                    <p>
                        <a href="https://s.click.taobao.com/t?e=m%3D2%26s%3DBd7iLbiMBvscQipKwQzePCperVdZeJviEViQ0P1Vf2kguMN8XjClAv6rqJwbkViRlCnp0VPQiKVoyO3ddgEZ98KZ%2FCBiGC%2BAA120cfxpzVe3QAIFZ4qxdxmIkXBqRClNTcEU%2BDykfuSM%2BhtH71aX6uIOTs4KMj3yjpOyWSRdiSZDEm2YKA6YIrbIzrZDfgWtewfOCTsUhuL7A4ojqcFxLlxfvOyje0ynomfkDJRs%2BhU%3D"
                           target="_blank">【<span style="color:#FF0000;">推荐</span>】阿里云学生特惠云服务器</a></p>
                    <p><u><a
                            href="https://s.click.taobao.com/t?e=m%3D2%26s%3DOU6WqfEvy%2FQcQipKwQzePCperVdZeJviEViQ0P1Vf2kguMN8XjClAv6rqJwbkViRgNciauKrSpxoyO3ddgEZ98KZ%2FCBiGC%2BAA120cfxpzVdiEIb0a5VTxRmIkXBqRClNTcEU%2BDykfuTlSg55GVX5wb6HrfO5Rkxh34mdTsZIUcAD%2Bi4rDfTRpeTIM5d0rdP%2BMLZ4%2BrZ7PWchhQs2DjqgEA%3D%3D"
                            target="_blank">RDS云数据库</a></u></p>
                    <p><u><a
                            href="https://s.click.taobao.com/t?e=m%3D2%26s%3DkOyMRXLe5y0cQipKwQzePCperVdZeJviEViQ0P1Vf2kguMN8XjClAv6rqJwbkViRLZXTD7FAd8hoyO3ddgEZ98KZ%2FCBiGC%2BAA120cfxpzVdeQ9pcQh0ldxmIkXBqRClNTcEU%2BDykfuSM%2BhtH71aX6htm26afTqZhX2AelcDTwouII%2BH4AtnKmf9aAWiTxsBW2YeVZAPpWRfGDF1NzTQoPw%3D%3D"
                            target="_blank">云数据库Redis版</a></u></p>
                    <p><u><a
                            href="https://s.click.taobao.com/t?e=m%3D2%26s%3DNEP6My0TsB0cQipKwQzePCperVdZeJviEViQ0P1Vf2kguMN8XjClAv6rqJwbkViR2Wp0cUyixa5oyO3ddgEZ98KZ%2FCBiGC%2BAA120cfxpzVeG2k2079gAVRmIkXBqRClNTcEU%2BDykfuSM%2BhtH71aX6htm26afTqZhX2AelcDTwouII%2BH4AtnKmf9aAWiTxsBWuCgE0st4OyjGDmntuH4VtA%3D%3D"
                            target="_blank">阿里云DDOS防护-高防IP</a></u></p>
                    <p><u><a
                            href="https://s.click.taobao.com/t?e=m%3D2%26s%3DxKaTivPOxxscQipKwQzePCperVdZeJviEViQ0P1Vf2kguMN8XjClAv6rqJwbkViRxJn51p0fCRZoyO3ddgEZ98KZ%2FCBiGC%2BAA120cfxpzVe%2FTQ%2BKb31whBmIkXBqRClNTcEU%2BDykfuTlSg55GVX5wVaL%2B82m0QZTEzn0DH69aFtLyrb2g0H2G%2Fwamd%2BEL%2FWmhcLzAjcuTkddow9d%2FMD%2BXQ%3D%3D"
                            target="_blank">阿里云云解析</a></u></p>
                    <p><u><a
                            href="https://s.click.taobao.com/t?e=m%3D2%26s%3DbAEFASZ9ijccQipKwQzePCperVdZeJviEViQ0P1Vf2kguMN8XjClAv6rqJwbkViR4CZyur93miVoyO3ddgEZ98KZ%2FCBiGC%2BAA120cfxpzVfmlqlNq1vcQRmIkXBqRClNTcEU%2BDykfuSM%2BhtH71aX6mMC%2FVYRjeGkg1LZ9gMhib9Lyrb2g0H2G3pD%2Buoa%2BvW2xgxdTc00KD8%3D"
                            target="_blank">阿里云精品网站模版</a></u></p>
                    <p><u><a
                            href="https://s.click.taobao.com/t?e=m%3D2%26s%3DYFtE9mLmbI8cQipKwQzePCperVdZeJviEViQ0P1Vf2kguMN8XjClAv6rqJwbkViR%2F67zSlRHtIZoyO3ddgEZ98KZ%2FCBiGC%2BAA120cfxpzVdqFcPM5kapBRmIkXBqRClNTcEU%2BDykfuSM%2BhtH71aX6htm26afTqZhX2AelcDTwouII%2BH4AtnKmf9aAWiTxsBWI8xs9INDEPvGJe8N%2FwNpGw%3D%3D"
                            target="_blank">web应用防火墙</a></u></p>
                    <p><u><a
                            href="https://s.click.taobao.com/t?e=m%3D2%26s%3DG7ldZyW9ShocQipKwQzePCperVdZeJviEViQ0P1Vf2kguMN8XjClAv6rqJwbkViRVSG%2Bc1h4z9hoyO3ddgEZ98KZ%2FCBiGC%2BAA120cfxpzVf0SX%2FX7ryxfhmIkXBqRClNTcEU%2BDykfuSM%2BhtH71aX6htm26afTqZhX2AelcDTwouII%2BH4AtnKmf9aAWiTxsBWC9C%2BaUDluR%2FGJe8N%2FwNpGw%3D%3D"
                            target="_blank">云盾证书</a></u></p>
                </div>
            </div>
            <div class="navitem" name="top1">
                <div class="content">
                    <p class="ab_t">我的博客：</p>
                    <p>域 名：www.9yue3.com 创建于2019年11月12日&nbsp;</p>
                    <p>服务器：阿里云服务器&nbsp;&nbsp;<a
                            href="https://www.aliyun.com/minisite/goods?userCode=eoqk6ckk"
                            target="_blank"><span style="color:#FF0000;"><strong>前往阿里云官网购买&gt;&gt;</strong></span></a>
                    </p>
                    <p>备案号：陕ICP备19023706号</p>
                    <p>程 序：SpringBoot &nbsp; &nbsp;<u><a href="" target="_blank"><span
                            style="color:#000000;">程序主页</span></a></u></p>
                    <p class="ab_t">微信扫码打赏：</p>
                    <div>
                        <table>
                            <tr>
                                <td><img src="/static/images/wecharpay.jpg"/></td>
                                <td><img src="/static/images/zhifubao.jpg"/></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</article>
<footer>
    <p>Copyright Meeki(9yue3.com) 版权所有<a href="http://w3layouts.com"> 陕ICP备19023706号</a></p>
</footer>
<a href="#" class="cd-top">Top</a>
</body>
</html>


