<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>文章详情</title>
    <meta name="keywords" content=""/>
    <meta name="description" content="帝国cms列表页调用关键字tag标签"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/base.css" rel="stylesheet">
    <link href="/static/css/index.css" rel="stylesheet">
    <link href="/static/css/info.css" rel="stylesheet">
    <link href="/static/css/m.css" rel="stylesheet">
    <script src="/static/js/jquery-2.1.4.min.js"></script>
    <script src="/static/js/jquery.easyfader.min.js"></script>
    <script src="/static/js/hc-sticky.js"></script>
    <script src="/static/js/comm.js"></script>
    <script src="/static/js/scrollReveal.js"></script>
</head>
<body>
<header class="header-navigation" id="header">
    <nav>
        <div class="logo"><a href="/">meeki个人博客</a></div>
        <h2 id="mnavh"><span class="navicon"></span></h2>
        <ul id="starlist">
            <li><a href="/index.html">首页</a></li>
            <li><a href="/about.html/">关于我</a></li>
            <li><a href="/photo.html/">图片集锦</a></li>
            <li><a href="/life.html/">慢生活</a></li>
            <li><a href="/study.html/">学无止境</a></li>
            <li><a href="/time.html/">时间轴</a></li>
            <li><a href="/e/tool/gbook/?bid=1">留言</a></li>
        </ul>
        <div class="searchbox">
            <div id="search_bar" class="search_bar">
                <form id="searchform" action="/e/search/index.php" method="post" name="searchform">
                    <input class="input" placeholder="想搜点什么呢.." type="text" name="keyboard" id="keyboard">
                    <input type="hidden" name="show" value="title"/>
                    <input type="hidden" name="tempid" value="1"/>
                    <input type="hidden" name="tbname" value="news">
                    <input type="hidden" name="Submit" value="搜索"/>
                    <p class="search_ico"><span></span></p>
                </form>
            </div>
        </div>
    </nav>
</header>
<article>
    <main>
        <div class="infosbox">
            <div class="newsview">
                <h3 class="news_title" th:text="${articleEntity.articleTitle}"></h3>
                <div class="bloginfo">
                    <ul>
                        <li class="author" th:text="${articleEntity.author}"></li>
                        <li class="timer" th:text="${articleEntity.releaseTime}"></li>
                        <li class="view" th:text="${articleEntity.hits}"></li>
                        <span>人阅读</span>
                    </ul>
                </div>
                <div class="tags"></div>
                <div class="news_about">
                    <strong>简介</strong>
                    <span th:text="${articleEntity.articleIntroduction}"></span>
                </div>
                <div class="news_con">
                    <p th:text="${articleEntity.articleContent}"></p>
                </div>
            </div>
            <div class="share">
                <p class="diggit"><a>
                    很赞哦！ </a>(<b id="diggnum"></b>)
                </p>
            </div>
            <div class="nextinfo">
                <p>上一篇：<a th:href='@{/articleMessage.html(id=${lastArticleEntity.id})}'
                          th:text="${lastArticleEntity.articleTitle}"></a></p>
                <p>下一篇：<a th:href='@{/articleMessage.html(id=${nextArticleEntity.id})}'
                          th:text="${nextArticleEntity.articleTitle}"></a></p>
            </div>
            <div class="news_pl">
                <h2>文章评论</h2>
                <div class="gbko">
                    <form action="/e/pl/doaction.php" method="post" name="saypl" id="saypl"
                          onsubmit="return CheckPl(document.saypl)">
                        <div id="plpost">
                            <p class="saying"><span>
                                <a href="/e/pl/?classid=15&amp;id=35">共有?条评论</a></span>来说两句吧...</p>
                            <p class="yname"><span>用户名:</span>
                                <input name="username" type="text" class="inputText"
                                       id="username" value="" size="16"/></p>
                            <p class="yzm"><span>验证码:</span>
                                <input name="key" type="text" class="inputText" size="16"/>
                                <img src="/e/ShowKey/?v=pl" align="absmiddle" name="plKeyImg" id="plKeyImg"
                                     onclick="plKeyImg.src='/e/ShowKey/?v=pl&t='+Math.random()" title="看不清楚,点击刷新"/></p>
                            <input name="nomember" type="hidden" id="nomember" value="1" checked="checked"/>
                            <textarea name="saytext" rows="6" id="saytext"></textarea>
                            <input name="imageField" type="submit" value="提交"/>
                            <input name="id" type="hidden" id="id" value="35"/>
                            <input name="classid" type="hidden" id="classid" value="15"/>
                            <input name="enews" type="hidden" id="enews" value="AddPl"/>
                            <input name="repid" type="hidden" id="repid" value="0"/>
                            <input type="hidden" name="ecmsfrom" value="/study/web/35.html">
                            </td>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <aside class="r_box">
        <div class="about_me">
            <h2>博主简介</h2>
            <ul>
                <i><img src=""></i>
                <p><strong>谢昌进</strong>，一个90后java工程师！19年入行。一直研究java后端技术，一边工作一边积累经验，希望通过此博客带给大家不一样的世界。</p>
            </ul>
        </div>
        <div class="wdxc">
            <h2>图文精选</h2>
            <ul>
                <li th:each="articleForFlagToTop,art: ${session.articleForFlagToTopSession}">
                    <a th:href="@{/articleMessage.html(id=${articleForFlagToTop.id})}"
                       th:title="${articleForFlagToTop.articleTitle}" target="_blank">
                        <img th:src="${articleForFlagToTop.pictureURL}">
                    </a>
                </li>
                <li th:each="articleForFlagToBottom,art: ${session.articleForFlagToBottomSession}">
                    <a th:href="@{/articleMessage.html(id=${articleForFlagToBottom.id})}"
                       th:title="${articleForFlagToBottom.articleTitle}" target="_blank"><img
                            th:src="${articleForFlagToBottom.pictureURL}">
                    </a>
                </li>
            </ul>
        </div>
        <div class="tuijian">
            <h2>最新文章</h2>
            <div class="content">
                <ul th:each="articleForTimeToEight,art:${session.articleForTimeToEightSession}">
                    <li><a th:href='@{/articleMessage.html(id=${articleForTimeToEight.id})}'
                           th:text="${articleForTimeToEight.articleTitle}"></a></li>
                </ul>
            </div>
        </div>
        <div class="tuijian">
            <h2>今日天气</h2>
            <div class="content">
                <ul>
                    <iframe width="250" scrolling="no" height="60" frameborder="0" allowtransparency="true"
                            src="http://i.tianqi.com/index.php?c=code&id=12&icon=1&num=1"></iframe>
                </ul>
            </div>

        </div>
        <div class="fenlei">
            <h2>友情链接</h2>
            <ul>
                <li><a href="http://www.9yue3.com">个人简历</a></li>
                <li><a href="/">谢昌进个人博客</a></li>
                <li><a href="https://user.qzone.qq.com/774894816">谢昌进QQ空间</a></li>
                <li><a href="/">****</a></li>
            </ul>
        </div>
        <div class="guanzhu">
            <h2>关注我 么么哒</h2>
            <ul>
                <img src="/static/images/weixin.jpg">
            </ul>
        </div>
    </aside>
</article>
<footer>
    <p>Copyright Meeki(9yue3.com) 版权所有<a href="http://w3layouts.com"> 陕ICP备19023706号</a></p>
</footer>
<a href="#" class="cd-top">Top</a>
</body>
</html>
