<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>个人博客</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/base.css" rel="stylesheet">
    <link href="/static/css/index.css" rel="stylesheet">
    <link href="/static/css/m.css" rel="stylesheet">
    <script src="/static/js/jquery-2.1.4.min.js"></script>
    <script src="/static/js/jquery.easyfader.min.js"></script>
    <script src="/static/js/hc-sticky.js"></script>
    <script src="/static/js/comm.js"></script>
    <script src="/static/js/scrollReveal.js"></script>
</head>
<body>
<header class="header-navigation" id="header">
    <nav>
        <div class="logo"><a href="/">meeki个人博客</a></div>
        <h2 id="mnavh"><span class="navicon"></span></h2>
        <ul id="starlist">
            <li  class="selected"><a href="/index.html">首页</a></li>
            <li><a href="/about.html/">关于我</a></li>
            <li><a href="/photo.html/">图片集锦</a></li>
            <li><a href="/life.html/">慢生活</a></li>
            <li><a href="/study.html/">学无止境</a></li>
            <li><a href="/time.html/">时间轴</a></li>
            <li><a href="/e/tool/gbook/?bid=1">留言</a></li>
        </ul>
        <div class="searchbox">
            <div id="search_bar" class="search_bar">
                <form id="searchform" action="/e/search/index.php" method="post" name="searchform">
                    <input class="input" placeholder="想搜点什么呢.." type="text" name="keyboard" id="keyboard">
                    <input type="hidden" name="show" value="title"/>
                    <input type="hidden" name="tempid" value="1"/>
                    <input type="hidden" name="tbname" value="news">
                    <input type="hidden" name="Submit" value="搜索"/>
                    <p class="search_ico"><span></span></p>
                </form>
            </div>
        </div>
    </nav>
</header>
<article>
    <!--banner begin-->
    <div class="banner">
        <div id="banner" class="fader">
            <li class="slide" th:each="homPageCarouselFlag,art: ${homPageCarouselFlag}">
                <a th:href="@{/articleMessage.html(id=${homPageCarouselFlag.id})}" target="_blank">
                    <img th:src="${homPageCarouselFlag.pictureURL}">
                    <span class="imginfo" th:text="${homPageCarouselFlag.articleTitle}"></span>
                </a>
            </li>
            <div class="fader_controls">
                <div class="page prev" data-target="prev">&lsaquo;</div>
                <div class="page next" data-target="next">&rsaquo;</div>
                <ul class="pager_list">
                </ul>
            </div>
        </div>
    </div>
    <!--banner end-->
    <div class="toppic">
        <li><a href="/life/52.html" title="个人博客从简不繁" target="_blank"><i><img
                src="http://www.yangqq.com/d/file/news/s/2018-06-29/7d49754e217a5ad6b80e88acde94bc57.jpg"></i>
            <h2>个人博客从简不繁</h2>
            <span>慢生活</span> </a></li>
        <li><a href="/study/biji/34.html" title="我们可以从CSS框架中借鉴到什么" target="_blank"><i><img
                src="/d/file/p/2018/08-04/bc2570db45bb0e607cbb3f3bffdec246.png"></i>
            <h2>我们可以从CSS框架中借鉴到什么</h2>
            <span>学习笔记</span> </a></li>
    </div>
    <main>
        <div class="news_box">
            <ul>
                <li><i><a href="/life/11.html" title="我是怎么评价自己的？" target="_blank"><img
                        src="http://www.yangqq.com/d/file/news/s/2018-07-28/95d1b1577a8a7aa4fe3893f2502617e9.jpg"></a></i>
                    <h3><a href="/life/11.html" title="我是怎么评价自己的？" target="_blank">我是怎么评价自己的？</a></h3>
                </li>
                <li><i><a href="/life/14.html" title="作为一个设计师,如果遭到质疑你是否能恪守自己的原则?" target="_blank"><img
                        src="http://www.yangqq.com/d/file/news/life/2018-06-29/75842f4d1e18d692a66c38eb172a40ab.jpg"></a></i>
                    <h3><a href="/life/14.html" title="作为一个设计师,如果遭到质疑你是否能恪守自己的原则?" target="_blank">作为一个设计师,如果遭到质疑你是否能恪守自己的原则?</a>
                    </h3>
                </li>
                <li><i><a href="/life/15.html" title="Come on,行动起来吧!我们和时间来一场赛跑!" target="_blank"><img
                        src="http://www.yangqq.com/d/file/news/life/2018-03-12/7b23e40fd0e148e991c6a04b8e9612ab.jpg"></a></i>
                    <h3><a href="/life/15.html" title="Come on,行动起来吧!我们和时间来一场赛跑!" target="_blank">Come
                        on,行动起来吧!我们和时间来一场赛跑!</a></h3>
                </li>
                <li><i><a href="/life/19.html" title="即便是坑，我也想要拉你入伙！" target="_blank"><img
                        src="http://www.yangqq.com/d/file/news/s/2014-06-14/072f267a54748c6e71d40a2d03978993.jpg"></a></i>
                    <h3><a href="/life/19.html" title="即便是坑，我也想要拉你入伙！" target="_blank">即便是坑，我也想要拉你入伙！</a></h3>
                </li>
                <li><i><a href="/life/57.html" title="再看4年前某婚恋网站我的十条征婚条件" target="_blank"><img
                        src="http://www.yangqq.com/d/file/news/s/2013-11-25/6abfdd1f080561acedbd2606210951eb.png"></a></i>
                    <h3><a href="/life/57.html" title="再看4年前某婚恋网站我的十条征婚条件" target="_blank">再看4年前某婚恋网站我的十条征婚条件</a></h3>
                </li>
                <li><i><a href="/life/58.html" title="抄袭门过后——丢掉心结，重拾自己" target="_blank"><img
                        src="http://www.yangqq.com/d/file/news/s/2013-11-22/5fafd3ebc31c323311092c440bcf41bf.jpg"></a></i>
                    <h3><a href="/life/58.html" title="抄袭门过后——丢掉心结，重拾自己" target="_blank">抄袭门过后——丢掉心结，重拾自己</a></h3>
                </li>
            </ul>
        </div>
        <!--        &lt;!&ndash;旅行&ndash;&gt;
                <div class="pics">
                    <ul>
                        <li><i><a href="" target="_blank"><img
                                src=""></a></i><span></span>
                        </li>
                    </ul>
                </div>-->
        <div class="blogtab">
            <ul id="blogtab">
                <li class="current">站长推荐</li>
                <li><a href="" target="_blank"></a></li>
            </ul>
            <div class="blogs" th:each="articleForFlagToEight,art: ${articleForFlagToEight}"
                 data-scroll-reveal="enter bottom over 1s">
                <h3 class="blogtitle">
                    <a th:href="@{/articleMessage.html(id=${articleForFlagToEight.id})}"
                       th:text="${articleForFlagToEight.articleTitle}" target="_blank"></a></h3>
                <span class="blogpic">
                    <a th:href="@{/articleMessage.html(id=${articleForFlagToEight.id})}">
                       <img th:src="${articleForFlagToEight.pictureURL}">
                    </a>
                </span>
                <p th:text="${articleForFlagToEight.articleIntroduction}" class="blogtext"></p>
                <div class="bloginfo">
                    <ul>
                        <li class="author" th:text="${articleForFlagToEight.author}"></li>
                        <li class="timer" th:text="${articleForFlagToEight.releaseTime}"></li>
                        <li class="view" th:text="${articleForFlagToEight.hits}"><span></span>已阅读</li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
    <aside class="r_box">
        <div class="about_me">
            <h2>博主简介</h2>
            <ul>
                <i><img th:src="${userEntity.portrait}"></i>
                <p><strong th:text="${userEntity.name}"></strong>
                <p th:text="${userEntity.personalprofile}"</p>></p>
            </ul>
        </div>
        <div class="wdxc">
            <h2>图文精选</h2>
            <ul>
                <li th:each="articleForFlagToTop,art: ${articleForFlagToTop}">
                    <a th:href="@{/articleMessage.html(id=${articleForFlagToTop.id})}"
                       th:title="${articleForFlagToTop.articleTitle}" target="_blank">
                        <img th:src="${articleForFlagToTop.pictureURL}">
                    </a>
                </li>
                <li th:each="articleForFlagToBottom,art: ${articleForFlagToBottom}">
                    <a th:href="@{/articleMessage.html(id=${articleForFlagToBottom.id})}"
                       th:title="${articleForFlagToBottom.articleTitle}" target="_blank"><img
                            th:src="${articleForFlagToBottom.pictureURL}">
                    </a>
                </li>
            </ul>
        </div>

        <div class="tuijian">
            <h2>最新文章</h2>
            <div class="content">
                <ul th:each="articleForTimeToEight,art:${articleForTimeToEight}">
                    <li><a th:href='@{/articleMessage.html(id=${articleForTimeToEight.id})}'
                           th:text="${articleForTimeToEight.articleTitle}"></a></li>
                </ul>
            </div>
        </div>
        <div class="tuijian">
            <h2>今日天气</h2>
            <div class="content">
                <ul>
                    <iframe width="250" scrolling="no" height="60" frameborder="0" allowtransparency="true"
                            src="http://i.tianqi.com/index.php?c=code&id=12&icon=1&num=1"></iframe>
                </ul>
            </div>

        </div>
        <div class="fenlei">
            <h2>友情链接</h2>
            <ul>
                <li><a href="http://www.9yue3.com">个人简历</a></li>
                <li><a href="/">谢昌进个人博客</a></li>
                <li><a href="https://user.qzone.qq.com/774894816">谢昌进QQ空间</a></li>
                <li><a href="/">****</a></li>
            </ul>
        </div>
        <div class="guanzhu">
            <h2>关注我 么么哒</h2>
            <ul>
                <img th:src="${userEntity.wechar}">
            </ul>
        </div>
    </aside>
</article>
<footer>
    <p>Copyright Meeki(9yue3.com) 版权所有<a href="http://w3layouts.com"> 陕ICP备19023706号</a></p>
</footer>
<a href="#" class="cd-top">Top</a>
</body>
</html>
