<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>图片集锦</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/base.css" rel="stylesheet">
    <link href="/static/css/photo.css" rel="stylesheet">
    <link href="/static/css/m.css" rel="stylesheet">
    <script src="/static/js/jquery-2.1.4.min.js"></script>
    <script src="/static/js/photo.js"></script>
    <script src="/static/js/photoplus.js"></script>
</head>
<body>
<header class="header-navigation" id="header">
    <nav>
        <div class="logo"><a href="/">meeki个人博客</a></div>
        <h2 id="mnavh"><span class="navicon"></span></h2>
        <ul id="starlist">
            <li><a href="/index.html">首页</a></li>
            <li><a href="/about.html/">关于我</a></li>
            <li class="selected"><a href="/photo.html/">图片集锦</a></li>
            <li><a href="/life.html/">慢生活</a></li>
            <li><a href="/study.html/">学无止境</a></li>
            <li><a href="/time.html/">时间轴</a></li>
            <li><a href="/e/tool/gbook/?bid=1">留言</a></li>
        </ul>
        <div class="searchbox">
            <div id="search_bar" class="search_bar">
                <form id="searchform" action="/e/search/index.php" method="post" name="searchform">
                    <input class="input" placeholder="想搜点什么呢.." type="text" name="keyboard" id="keyboard">
                    <input type="hidden" name="show" value="title"/>
                    <input type="hidden" name="tempid" value="1"/>
                    <input type="hidden" name="tbname" value="news">
                    <input type="hidden" name="Submit" value="搜索"/>
                    <p class="search_ico"><span></span></p>
                </form>
            </div>
        </div>
    </nav>
</header>
<article>
    <div class="topbox">
        <ul>
            <li th:each="photo,photoStar:${fivePhoto}"><i><a href="">
                <span class="tnum" th:text="${photoStar.count}"></span>
                <span class="tpic"><img th:src="${photo.photoUrl}"></span>
                <span class="toptext" th:text="${photo.photoName}"></span></a></i>
            </li>
        </ul>
    </div>
    <div class="fenlei">
        <ul>
            <li class="flselect"><a href="#top1">人物写真</a></li>
            <li><a href="#top1">旅游风光</a></li>
            <li><a href="#top1">家有萌宠</a></li>
            <li><a href="#top1">静物特写</a></li>
        </ul>
    </div>
    <div class="mbans">
        <div class="mban" name="top1">
            <ul>

                <li><i><a href="" title=""><img
                        src=""> <span class="mbtitle"></span>
                </a></i></li>
                <li><i><a href="" title=""><img
                        src=""> <span
                        class="mbtitle"></span> </a></i></li>
                <li><i><a href="" title=" "><img
                        src=""> <span
                        class="mbtitle"> </span> </a></i></li>
                <li><i><a href="" title=" "><img
                        src=""> <span
                        class="mbtitle"> </span> </a></i></li>
                <li><i><a href="" title=" "><img
                        src=""> <span
                        class="mbtitle"> </span> </a></i></li>
            </ul>
        </div>
        <div class="mban" name="top1">
            <ul>
                <li><i><a href="" title=""><img
                        src=""> <span class="mbtitle"></span>
                </a></i></li>
            </ul>
        </div>
        <div class="mban" name="top1">
            <ul>
                <li><i><a href="" title=""><img
                        src=""> <span
                        class="mbtitle"></span> </a></i></li>
            </ul>
        </div>
        <div class="mban" name="top1">
            <ul>
                <li><i><a href="" title=""><img
                        src=""> <span
                        class="mbtitle"></span> </a></i></li>
            </ul>
        </div>
    </div>
</article>
<footer>
    <p>Copyright Meeki(9yue3.com) 版权所有<a href="http://w3layouts.com"> 陕ICP备19023706号</a></p>
</footer>
<a href="#" class="cd-top">Top</a>
</body>
</html>
