<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>时间轴</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/base.css" rel="stylesheet">
    <link href="/static/css/time.css" rel="stylesheet">
    <link href="/static/css/m.css" rel="stylesheet">
    <script src="/static/js/jquery-2.1.4.min.js"></script>
    <script src="/static/js/time.js"></script>
</head>
<body>
<header class="header-navigation" id="header">
    <nav>
        <div class="logo"><a href="/">meeki个人博客</a></div>
        <h2 id="mnavh"><span class="navicon"></span></h2>
        <ul id="starlist">
            <li  class="selected"><a href="/index.html">首页</a></li>
            <li><a href="/about.html/">关于我</a></li>
            <li><a href="/photo.html/">图片集锦</a></li>
            <li><a href="/life.html/">慢生活</a></li>
            <li><a href="/study.html/">学无止境</a></li>
            <li><a href="/time.html/">时间轴</a></li>
            <li><a href="/e/tool/gbook/?bid=1">留言</a></li>
        </ul>
        <div class="searchbox">
            <div id="search_bar" class="search_bar">
                <form id="searchform" action="/e/search/index.php" method="post" name="searchform">
                    <input class="input" placeholder="想搜点什么呢.." type="text" name="keyboard" id="keyboard">
                    <input type="hidden" name="show" value="title"/>
                    <input type="hidden" name="tempid" value="1"/>
                    <input type="hidden" name="tbname" value="news">
                    <input type="hidden" name="Submit" value="搜索"/>
                    <p class="search_ico"><span></span></p>
                </form>
            </div>
        </div>
    </nav>
</header>
<article>
    <div class="timebox">
        <ul id="list">
            <li data-scroll-reveal="enter bottom over 1s" th:each="adc,ad : ${adc}">
                <span th:text="${adc.creatdate}"></span>
                <i><a href="" target="#" th:text="${adc.name}"></a></i>
            </li>
        </ul>
    </div>
    <div class="floot1">共 <span th:text="${lp.tp}"></span>页
        第<span th:text="${lp.cp}"></span>页
        <span>
                <a th:href="@{${lp.url}+'&cp=1'}">首页</a>
            </span>
        <span th:if="${lp.cp}>1">
                <a th:href="@{${lp.url}+'&cp='+${lp.cp-1}}">上一页</a>
            </span>
        <a th:href="@{${lp.url}+'&cp='+${lp.cp-3}}">
            <span th:if="${lp.cp-3>=1}" th:text="${lp.cp-3}"></span>
        </a>
        <a th:href="@{${lp.url}+'&cp='+${lp.cp-2}}">
            <span th:if="${lp.cp-2>=1}" th:text="${lp.cp-2}"></span>
        </a>
        <a th:href="@{${lp.url}+'&cp='+${lp.cp-1}}">
            <span th:if="${lp.cp-1>=1}" th:text="${lp.cp-1}"></span>
        </a>
        <a th:href="@{${lp.url}+'&cp='+${lp.cp}}">
            <span th:if="${lp.cp>=1}" th:text="${lp.cp}"></span>
        </a>
        <a th:href="@{${lp.url}+'&cp='+${lp.cp+1}}">
            <span th:if="${lp.cp+1<=lp.tp}" th:text="${lp.cp+1}"></span>
        </a>
        <a th:href="@{${lp.url}+'&cp='+${lp.cp+2}}">
            <span th:if="${lp.cp+2<=lp.tp}" th:text="${lp.cp+2}"></span>
        </a>
        <a th:href="@{${lp.url}+'&cp='+${lp.cp+3}}">
            <span th:if="${lp.cp+3<=lp.tp}" th:text="${lp.cp+3}"></span>
        </a>

        <span th:if="${lp.cp<lp.tp}">
                        <a th:href="@{${lp.url}+'&cp='+${lp.cp+1}}">下一页</a>
            </span>
        <span>
                        <a th:href="@{${lp.url}+'&cp='+${lp.tp}}">末頁</a>
            </span>
    </div>
</article>
<footer>
    <p>Copyright Meeki(9yue3.com) 版权所有<a href="http://w3layouts.com"> 陕ICP备19023706号</a></p>
</footer>
<a href="#" class="cd-top">Top</a>
</body>
</html>
